.Modal {
  border-radius: 5px;
  z-index: 200;
  width: 50%;
  height: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

canvas {
  background-color: rgb(18, 20, 53);
  border-radius: 5px;
}
